@import "../../style/default.less";
.header{
  background-color: @colorM;
  padding:0 20px;
  .header-top{
    height: 60px;
    line-height: 60px;
    text-align: right;
    a{
      margin: 0 20px;
    }
    .logo{
      line-height: 52px;
      padding-left: 60px;
      vertical-align: middle;
      text-align: left;
      img{
        height: 35px;
        margin-right: 10px;
      }
      span{
        color:#fff;
        display: inline-block;
        font-size: 20px;
      }
    }
  }
  .breadcrumb{
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #87ceeb;
    .breadcrumb-title{
      text-align: center;
      font-size: @fontC;
      &:after{
        position: absolute;
        content: '';
        left: 88px;
        top: 39px;
       border-top: 12px solid @colorM;
        border-left: 16px solid transparent;
        border-right: 16px solid transparent;

      }
    }
    .weather{
      text-align: right;
      .date{
        margin-right: 20px;
        vertical-align: middle;
      }
      .weather-img{
        img{
          height: 15px;
        }
      }
      .weather-detail{
        margin-left: 5px;
        vertical-align: middle;
      }
    }
  }
}

.simple-page{
  a {
    color: #ffffff;
  }
  .header{
    padding: 0;
    .header-top{
      background: #1890ff;
      color: @colorM;
    }
  }
}



